@media (min-width: 768px){
    .a{
        background-color: #081c15;
        color: white;
    }
    .b{
        background-color:#1b4332 ;
        color: white;
    }
    .c{
        background-color:#2d6a4f ;
        color: white;
    }
    .d{
        background-color:#40916c ;
        color: white;
    }
    .e{
        background-color:#52b788 ;
        color: white;
    }
    .f{
        background-color:#74c69d ;
        color: white;
    }
    .g{
        background-color:#95d5b2 ;
        color: white;
    }
    .h{
        background-color:#b7e4c7 ;
        color: white;
    }
    .i{
        background-color:#d8f3dc ;
    }
}

@media (max-width: 767px){
    .a{
        background-color: #522e38;
    }
    .b{
        background-color: #602437;

    }
    .c{
        background-color: #8a2846;

    }
    
    .d{
        background-color: #b9375e;

    }
    .e{
        background-color: #e05780;

    }
    .f{
        background-color: #ff7aa2;

    }
    .g{
        background-color: #ff9ebb;

    }
    .h{
        background-color: #ffc2d4;

    }
    .i{
        background-color: #ffe0e9;

    }
}